/* --BODY-- */

body {
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans;
    background-color: #fce38a;
  }
  
  body span {
    font-weight: bold;
  }
  
  /* --NAVBAR-- */
  
  #title {
    margin-top: 15px;
    color: #293250;
    cursor: default;
    margin-left: 10px;
  }
  
  #info {
    margin-right: 60px;
  }
  
  #navi {
    background-color: #293250;
  }
  
  /* --BARRA DE BUSCA-- */
  
  #pofileInfo {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  
  .texto1 {
    color: #6dd473;
  }
  
  /* --FOOTER-- */
  
  #footer {
    background-color: #6dd473;
    color: white;
    text-align: center;
    padding: 1px;
  }